<header class="jumbotron container-fluid">
  <h1>Hello Redux!</h1>
  <h2>State management, ftw :)</h2>
</header>
<main class="container">
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link"
           [routerLinkActive]="['active']"
           [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLinkActive]="['active']"
           [routerLink]="['todo']">Todo</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</main>